<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mattire"
        tools:targetApi="31">
        <activity
            android:name=".viewmodels.SettingsActivity"
            android:exported="false"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodels.ProductActivity" />
        </activity>
        <activity
            android:name=".viewmodels.SearchActivity"
            android:exported="false"
            android:label="Search Products">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodels.ProductActivity" />
        </activity>
        <activity
            android:name=".viewmodels.ProductActivity"
            android:exported="false"
            android:label="Products"/>
        <activity
            android:name=".viewmodels.CartActivity"
            android:exported="false"
            android:label="Cart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodels.ProductActivity" />
        </activity>
        <activity
            android:name=".viewmodels.CheckoutActivity"
            android:exported="false"
            android:label="Checkout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodels.CartActivity" />
        </activity>
        <activity
            android:name=".viewmodels.DetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodels.ProductActivity" />
        </activity>
        <activity
            android:name=".viewmodels.LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewmodels.ConfirmationActivity"
            android:exported="false"
            android:label="Order Confirmation"/>
        <activity
            android:name=".viewmodels.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity
            android:name=".viewmodels.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>

        <activity
            android:name=".viewmodels.MainActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:forceDarkAllowed="true"
            android:label="Products" />
    </application>

</manifest>